header{
    padding: 2em;
    background-color:#008eff ;
    margin-top: 2em;
    text-align: center;
    color:#fff;

}
.quote{
    font-size: 2em;

}
.btn-large{
    margin:0;
}

.card{
    text-align: center;
    width:45em;

}
.new-quote-button {
    background-color:#008eff ;
   border-color:rgb(106, 0, 255)
}
#button:hover{
    background-color:teal ;
}